NBCInterface_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:sch="http://webservice.nbc.org.kh/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.nbc.org.kh/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.nbc.org.kh/" version="1.0">
      
  <xsd:complexType name="AuthenticatedType">
            
    <xsd:sequence>
                  
      <xsd:element minOccurs="0" name="cm_user_name" type="xsd:string"/>
                  
      <xsd:element minOccurs="0" name="cm_password" type="xsd:string"/>
              
    </xsd:sequence>
        
  </xsd:complexType>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeWalletTransfer">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="iso_message" type="xsd:string"/>
                                    
            <xsd:element minOccurs="0" name="qr_code" type="xsd:string"/>
                                    
            <xsd:element name="ext_ref" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeWalletTransferResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeQRWalletTransfer">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="iso_message" type="xsd:string"/>
                                    
            <xsd:element minOccurs="0" name="qr_code" type="xsd:string"/>
                                    
            <xsd:element name="ext_ref" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeQRWalletTransferResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getAccountInquiry">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="participant_code" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getAccountInquiryResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getIncomingTransaction">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="payee_participant_code" type="xsd:string"/>
                                    
            <xsd:element minOccurs="0" name="size" type="xsd:int"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getIncomingTransactionResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getOutgoingTransaction">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="payer_participant_code" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getOutgoingTransactionResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getOutgoingTransactionByPmtInfId">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="payer_participant_code" type="xsd:string"/>
                                    
            <xsd:element name="instruction_ref" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getOutgoingTransactionByPmtInfIdResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getOutgoingTransactionByExtRef">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="payer_participant_code" type="xsd:string"/>
                                    
            <xsd:element name="ext_ref" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="getOutgoingTransactionByExtRefResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeAcknowledgement">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="content_message" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeAcknowledgementResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeFullFundTransfer">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="iso_message" type="xsd:string"/>
                                    
            <xsd:element minOccurs="0" name="import_file_name" type="xsd:string"/>
                                    
            <xsd:element name="ext_ref" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeFullFundTransferResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeReverseTransaction">
            
    <xsd:complexType>
                  
      <xsd:complexContent>
                        
        <xsd:extension base="sch:AuthenticatedType">
                              
          <xsd:sequence>
                                    
            <xsd:element name="content_message" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:extension>
                    
      </xsd:complexContent>
              
    </xsd:complexType>
        
  </xsd:element>
      
  <xsd:element ibmSchExtn:docRoot="true" name="makeReverseTransactionResponse">
            
    <xsd:complexType>
                  
      <xsd:sequence>
                        
        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    
      </xsd:sequence>
              
    </xsd:complexType>
        
  </xsd:element>
  
</xsd:schema>
